.instr{
  /*width: 15%;*/
  width: 18%;
  word-break: break-word;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  position: absolute;;
  /*top: 25%;*/
  top: 20%;
  font-size: large;
 background: rgba(0,0,0,0.1);

}
#widlabel{
  position:absolute;
  width: 20%;
  clear: left;
  text-align: left;
  left: 19%;
  top: 5%;
}
#breadth{
  width: 5%;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;  
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: black;
  position: absolute;
  left: 26%;
  top: 3.5%;
}



#play{
  width: 5%;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: darkseagreen;
  position: absolute;
  left:42%;
  top:9.5%
   
}


#reset{
  width: 5%;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: deepskyblue;
  position: absolute;
  left:52%;
  top:9.5%;
}
#angle{
  width: 5%;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 6px;
  cursor: pointer;
  background-color: black;
  position: absolute;
  left: 47%;
  top:3%;
}
#range{
  width: 5%;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 6px;
  cursor: pointer;
  background-color: black;
  position: absolute;
  left :69%;
  top: 3%;
  
}
#rangetextbox{
  width: 20%;
  position: absolute;
  left: 58%;
  top: 5%;
  clear: left;
  text-align:left;
}
#rangetextbox,#range{
  float: left;
}
#angletextbox{
  width: 20%;
  position:absolute;
  left:35%;
  top:5%;
  clear: left;
  text-align:left;
}
#angle,#angletextbox{
  float: left;
}




#update{
width: 15%;
 word-wrap: break-word;
 position: fixed;
 top:20%;
 font-size: large;
 background: rgba(0,0,0,0.1);
}
#lidar{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 6 rem;
  margin: 4px 2px;
  cursor: pointer;
  background-color: black;
  position:absolute;
  top: 13%;
}
#angrange{
  width: 5%;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 6px;
  cursor: pointer;
  background-color: black;
  position: absolute;
  left:89%;
  top:3%;

  
}
#angrangetextbox{
  position:absolute;
  left:78%;
  top:5%;
  width: 20%;
  clear: left;
  text-align:left;
}
#angrange,#angrangetextbox{
  float: left;
}

#contactus{
  position: absolute;
  top: 9.3%;
  left: 85%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  background-color:  rgb(43,114,216);
  color: white;
  text-decoration: none;
  padding: 10px 10px;
}